@charset "utf-8";
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('S-CoreDream-3Light.eot');
  src: url('S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
       url('S-CoreDream-3Light.svg#S-CoreDream-3Light') format('svg'),
       url('S-CoreDream-3Light.ttf') format('truetype'),
       url('S-CoreDream-3Light.woff') format('woff'),
       url('S-CoreDream-3Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('S-CoreDream-4Regular.eot');
  src: url('S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
       url('S-CoreDream-4Regular.svg#S-CoreDream-4Regular') format('svg'),
       url('S-CoreDream-4Regular.ttf') format('truetype'),
       url('S-CoreDream-4Regular.woff') format('woff'),
       url('S-CoreDream-4Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('S-CoreDream-6Bold.eot');
  src: url('S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
       url('S-CoreDream-6Bold.svg#S-CoreDream-6Bold') format('svg'),
       url('S-CoreDream-6Bold.ttf') format('truetype'),
       url('S-CoreDream-6Bold.woff') format('woff'),
       url('S-CoreDream-6Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body, ul, p{margin: 0;padding: 0;}
ul{list-style: none;}
a:link, a:hover, a:visited, a:active{text-decoration: none;color: inherit;}
img{border: none;vertical-align: top;}
header, nav, section, footer{display: block;}

body{width: 1920px;height: 1080px;font-family: S-CoreDream;}
/* 공통 */


/* 헤더 */





/* 푸터 */
.f_l{float: left}
.p_r{position: relative;}
.p_a{position: absolute;}

.footer{width: 1920px;height: 1080px;background: url("../images/01_common/footerbg.png");color: #fff;}
.f_block{padding-left: 25px;position: relative;margin-left: 36px;}
.f_block::after{content: "";height: 100%;width: 6px;background: #fff;top: 0;left: 0;position: absolute;}


.wrap{top: 204px;left: 354px;position: relative;align-items: left;}
#block1 img{width: 241px;height: 72px;}
#block2{width: 407px;height: 370px;}
#block2 p:nth-child(1){font-size: 25px;line-height: 1.87;}
#block2 p:nth-child(2){font-size: 20px;}
#block2 .icons{margin: 38.5px 0;}

#block3{width: 358px;height: 678px;;}
#block3 .bar{width: 340px;height: 43px;background: green;color: #000;}
#block3 .bar{margin-bottom: 48px;}
.f_navitem1{font-size: 32px;line-height: 2;letter-spacing: 5.18px}
.f_navitem2{font-size: 16px;line-height: 2.5;}

.bar .GO{float: right;top: 0;}